.header {
  color: #fff;
  background-color: #000;
  width: 100%;
}

.nav_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  min-height: 80px;
}

.main_title {
  font-size: 32px;
}

.nav_item {
  font-size: 18px
}